h1 {
    text-align: center;
    font-size: 35px;
    color: blue;
}

#start {
padding: 50px;
margin-left: 650px;
background-color: forestgreen;
}

body {
    background-image: url("../images/blue.jpg");
    display: inline;
}


#submit {
   
    padding: 50px;
   margin-top: 300px;
   margin-left: 650px;
    
}

#gameContainer, #timer {
    text-align: center;
}
